<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PTC.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <ul class="nav flex-column">
            <li>
                <a class="nav-link" href="@Url.Action("Index","Proprietario")">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    &nbsp;Proprietarios
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Index","Marcas")">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    &nbsp;Marcas
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Index","Veiculos")">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    &nbsp;Veículos
                </a>
            </li>
        </ul>
    </div>

    <div class="container content">
        <main role="main" class="pb-3" style="text-align: center;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PTC.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
