@model PTC.Domain.Entities.Proprietario

<div class="modal-content margin-modais">
    <div class="modal-header">
        <div class="row">
            <div class="col-12" style="text-align:start">
                <h3>
                    @if (!string.IsNullOrEmpty(Model.CaminhoImagem))
                    {
                        <img class="rounded-circle img-fluid" src="@Model.CaminhoImagem" width="40" height="60" />
                    }
                    else
                    {
                        <img class="rounded-circle img-fluid" src="~/images/generic.jpg" width="40" height="60" />
                    }
                    @Model.Nome
                </h3>
                <sub>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Cadastro Em: @Model.Cadastro
                </sub>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="AlterarProprietario" action="@Url.Action("Alterar","Proprietario")" method="post">
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="row" style="height: 50vh;">
                    <div class="col-sm-6">
                        <img id="imgProprietario" class="img-fluid card-img" src="~/images/generic.jpg" alt="Alternate Text" style="width: 100%; height: 50%;" />
                        <input type="file" hidden name="Imagem" value="" id="inputImg" />
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="btnImgUpload" class="form-control-file btn btn-info">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="Nome">Nome</label>
                        <input id="Nome" type="text" name="Nome" value="@Model.Nome" class="form-control" required />
                        <label for="tipoDocumento">Tipo Documento</label>
                        <select id="tipoDocumento" class="form-control" required>
                            <option value="none">Selecione</option>
                            <option value="0">CPF</option>
                            <option value="1">CNPJ</option>
                        </select>
                        <label for="documento">Documento</label>
                        <input id="documento" type="text" name="documento" value="" class="form-control" placeholder="Selecione um tipo de documento" readonly required />
                    </div>
                </div>
                <div class="row" style="padding-bottom:20px">
                    <div class="col-2">
                        <label for="Cep">CEP</label>
                        <input id="Cep" type="text" name="Endereco.Cep" value="@Model.Endereco.Cep" class="form-control" placeholder="00000-000" onkeypress="$(this).mask('00000-000')" required />
                    </div>
                    <div class="col-3">
                        <label for="Bairro">Bairro</label>
                        <input id="Bairro" type="text" name="Endereco.Bairro" value="@Model.Endereco.Bairro" class="form-control" readonly />
                    </div>
                    <div class="col-2">
                        <label for="Uf">Estado</label>
                        <input id="Uf" type="text" name="Endereco.Uf" value="@Model.Endereco.Uf" class="form-control" readonly />
                    </div>
                    <div class="col-3">
                        <label for="Cidade">Cidade</label>
                        <input id="Cidade" type="text" name="Endereco.Cidade" value="@Model.Endereco.Cidade" class="form-control" readonly />
                    </div>
                    <div class="col-2">
                        <label for="Numero">Numero</label>
                        <input id="Numero" type="text" name="Endereco.Numero" value="@Model.Endereco.Numero" class="form-control" required />
                    </div>
                </div>
                <div class="row" style="padding-bottom:20px">
                    <div class="col-6">
                        <label for="Logradouro">Logradouro</label>
                        <input id="Logradouro" type="text" name="Endereco.Logradouro" value="@Model.Endereco.Logradouro" class="form-control" readonly />
                    </div>
                    <div class="col-6">
                        <label for="pontoReferencia">Ponto de referência</label>
                        <input id="pontoReferencia" type="text" name="Endereco.pontoReferencia" value="@Model.Endereco.PontoReferencia" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="Email">E-mail</label>
                        <input id="Email" type="text" name="Email" value="@Model.Email" class="form-control" required />
                    </div>
                    <div class="col-6">
                        <label for="WhatsApp">WhatsApp</label>
                        <input id="WhatsApp" type="text" name="WhatsApp" value="@Model.WhatsApp" class="form-control" placeholder="(00) 0 0000-0000" onkeypress="$(this).mask('(00) 0 0000-0000')" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input id="caminhoImagem" type="text" name="CaminhoImagem" value="@Model.CaminhoImagem" hidden />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 div-btn-end" style="padding-top: 15px;">
                    <a class="btn btn-danger" href="@Url.Action("Index","Proprietario")">Cancelar</a>
                    &nbsp;|&nbsp;
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            ImagemEvent();
            ValidarCep();
            ValidarDocumento();
            FormEventHandler('AlterarProprietario', 'Index', 'Proprietario');
        });
    </script>

} 