@model PTC.Application.Dtos.ProprietarioViewModel

<div class="modal-content">
    <div class="mdlMensagem"></div>
    <div class="modal-header">
        <div class="row">
            <div class="col-12" style="text-align:start">
                <h3>
                    <img class="rounded-circle img-fluid" src="~/images/Proprietarios/profiledefaultimg.png" width="40" height="60"  />
                    @Model.Nome
                </h3>
                <sub>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Cadastro Em: @Model.Cadastro
                </sub>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <partial name="../Proprietario/_Formulario.cshtml" />
        </div>
    </div>
    <div id="mdlMensagem" class="modal" tabindex="-1" role="dialog"></div>
</div>


@section scripts {
    <script src="~/js/Proprietario.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var idProprietario = 0;
        $(document).ready(function() {
            $("#formProprietario").attr('action', '@Url.Action("Alterar","Proprietario")').attr('method', 'PUT');
            console.log(`'${$("#formProprietario").attr('method')}'`);
            Bind();
            factory('PUT');
        });

        function Bind() {
            var form = [];
            var object = JSON.parse("@System.Text.Json.JsonSerializer.Serialize(Model)".replace(/&quot;/g, '"'));
            var form = document.forms[0];

            $(form.querySelector('input[name="Nome"]')).val(object.Nome);
            $(form.querySelector('input[name="documento"]')).val(object.documento);
            $(form.querySelector('input[name="Cep"]')).val(object.Cep);
            $(form.querySelector('input[name="Bairro"]')).val(object.Bairro);
            $(form.querySelector('input[name="Uf"]')).val(object.Uf);
            $(form.querySelector('input[name="Cidade"]')).val(object.Cidade);
            $(form.querySelector('input[name="Numero"]')).val(object.Numero);
            $(form.querySelector('input[name="Logradouro"]')).val(object.Logradouro);
            $(form.querySelector('input[name="PontoReferencia"]')).val(object.PontoReferencia);
            $(form.querySelector('input[name="Email"]')).val(object.Email);
            $(form.querySelector('input[name="WhatsApp"]')).val(object.WhatsApp);
        }
    </script>

    @if (!System.String.IsNullOrEmpty(Model.CaminhoImagem))
    {
        <script type="text/javascript">
            $(document).ready(function() {
                $("#imgProprietario").attr('src', '~/'+ '"@Model.CaminhoImagem"');
                $("#img-header").attr('src', '~/'+ '"@Model.CaminhoImagem"');
            });
        </script>
    }
} 