@model IEnumerable<PTC.Domain.Entities.Proprietario>

<div class="row">
    <div class="col-12" style="text-align: right; margin-top: 20px; margin-bottom:5px">
        <a href="@Url.Action("Adicionar","Proprietario")" class="btn btn-success btnApp">Novo</a>
    </div>
</div>
<div class="i">

</div>
<table id="tblMarcas" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th style="width: 15%;">Telefone</th>
            <th>Cadastro</th>
            <th>Exclusão</th>
            <th>Documento</th>
            <th>Endereco</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PTC.Domain.Entities.Proprietario obj in Model)
        {
        <tr>
            <td>@obj.Nome</td>
            <td>
                <a onclick="AbrirWhatsAppWeb(this)" class="btn-link" data-id="@obj.WhatsApp">
                    <i class="fa fa-whatsapp" aria-hidden="true" style="color: green; font-weight: bold;"></i>
                </a> @obj.WhatsApp
            </td>
            <td>@obj.Cadastro</td>
            <td>@obj.Exclusao</td>
            <td>@obj.Documento</td>
            <td>
                <button class="btn btn-sm btn-success" onclick="AbrirGoogleMaps(this)" data-endereco="https://www.google.com.br/maps/place/@obj.Endereco.Cep" font-style:oblique">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-sm btn-warning">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button> |
                <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        function AbrirGoogleMaps(obj) {
            let link = $(obj).attr("data-endereco");
            window.open(link,"_blank");
        }

        function AbrirWhatsAppWeb(obj) {
            let object = $(obj).attr("data-id");
            let link = "https://wa.me/55";
            link += object.replace("(", "").replace(")", "").replace(" ", "").replace(" ", "").replace("-", "");
            window.open(link, "_blank");
        }
    </script>

} 