@model PTC.Application.Dtos.OperacaoViewModel

<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-12" style="text-align:start">
                <h3>
                    @Model.NomeVeiculo
                </h3>
                <sub>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Cadastro: @Model.Cadastro
                </sub>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <partial name="../Operacao/_Formulario.cshtml">
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/js/Operacao.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            //$("#imgUrl").on('change', function () {
            //    $("#imgLogo").attr($(this).val());
            //});

            $("#formVeiculo").attr('action', '@Url.Action("Alterar","Operacao")');
            factory('PUT', '@Url.Action("ObterSelectList","Marcas")');
            Bind();

        });

        function Bind() {
            var form = []
            var form = document.forms[0];

            debugger;
            $(form.querySelector('input[name="NomeVeiculo"]')).val("@Model.NomeVeiculo");
            $(form.querySelector('input[name="ModeloVeiculo"]')).val("@Model.ModeloVeiculo");
            $(form.querySelector('input[name="Km"]')).val("@Model.Km".replace(",", "."));
            $(form.querySelector('input[name="ValorCompra"]')).val("@Model.ValorCompra".replace(",", "."));
            $(form.querySelector('input[name="ValorTabela"]')).val("@Model.ValorTabela".replace(",", "."));
            $(form.querySelector('input[name="ValorRevenda"]')).val("@Model.ValorRevenda".replace(",", "."));
            $(form.querySelector('input[name="DataFabricacaoVeiculo"]')).val("@Model.DataFabricacaoVeiculo");

            if(@Model.MarcaVeiculoId > 0){
                $("#MarcaId").val(@Model.MarcaVeiculoId).change();
            }

            if (@Model.SituacaoAquisicaoId > 0) {
                $("#SituacaoAquisicaoId").val(@Model.SituacaoAquisicaoId).change();
            }
            
            if (@Model.TipoPagamentoAquisicaoId > 0) {
                $("#TipoPagamentoAquisicaoId").val(@Model.TipoPagamentoAquisicaoId).change();
            }

            if (@Model.TipoPagamentoRevendaId > 0) {
                $("#TipoPagamentoRevendaId").val(@Model.TipoPagamentoRevendaId).change();
            }

            if (@Model.ProprietarioId > 0) {
                $("#ProprietarioId").val(@Model.ProprietarioId).change();
            }

            if (@Model.CompradorId > 0) {
                $("#CompradorId").val(@Model.CompradorId).change();
            }
        }
    </script>

}