@model IEnumerable<PTC.Application.Dtos.OperacaoViewModel>
<div id="mdlImagens"></div>
<div class="mdlMensagem"></div>
<div class="modalContainner"></div>
<div class="modal-content">
    <div class="modal-body tbl-modal">
        <div class="row">
            <div class="col-6 div-btn-end div-btn-novo" style="text-align:start">
                <a href="@Url.Action("Adicionar","Operacao")" class="btn btn-success btn-novo">
                    Novo
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Codigo<br />Operacao</th>
                    <th>Carro</th>
                    <th>Imagens</th>
                    <th>Proprietario</th>
                    <th>Comprador</th>
                    <th>Cadastro</th>
                    <th>Valor <br /> Compra</th>
                    <th>Valor <br /> Revenda</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PTC.Application.Dtos.OperacaoViewModel obj in Model)
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.NomeVeiculo</td>

                        <td>
                            <button onclick="AbrirModalImagens(@obj.Id)" class="btn btn-sm btn-icon btn-icon-images" type="button" data-target="#mdlImagens" data-toggle="modal">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            </button>
                            |
                            <button onclick="ExportarImagensPDF(@obj.Id)" class="btn btn-sm btn-icon btn-icon-pdf" type="button">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </button>
                        </td>

                        <td><a href="@Url.Action("Editar", "Proprietario", new { id = obj.ProprietarioId} )" target="_blank">@obj.ProprietarioNome</a></td>
                        <td>
                            @if (string.IsNullOrEmpty(obj.CompradorNome))
                            {
                                @obj.CompradorNome
                            }
                            else
                            {
                                <a href="@Url.Action("Editar", "Proprietario", new { id = obj.CompradorId})" target="_blank">@obj.CompradorNome</a>
                            }
                        </td>
                        <td>@obj.Cadastro</td>
                        <td style="color:blue">@obj.ValorCompraMoedaFormatada</td>


                        @if (obj.ValorRevenda > obj.ValorCompra)
                        {
                            <td style="color:green">@obj.ValorRevendaMoedaFormatada</td>
                        }
                        else
                        {
                            <td style="color:red">@obj.ValorRevendaMoedaFormatada</td>
                        }
                        <td>
                            <a href="@Url.Action("Editar", "Operacao", new { id = obj.Id} )" class="btn btn-sm btn-warning btn-icon">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <span>|</span>
                            <button class="btn btn-sm btn-danger btn-icon" data-id="@System.Text.Json.JsonSerializer.Serialize(obj)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="mdlNotificaDelete" class="modal" tabindex="-1" role="dialog"></div>
</div>


@section scripts {
    <script>
        var objValue = null;
        var objAlterar = null;

        $(document).ready(function() {
            LinkFiltroDinamico();
            EventoFiltro();

            $(".btn-danger").on('click', function(e) {
                e.stopImmediatePropagation();
                objValue = JSON.parse($(this).attr('data-id'));
                travaDelete(objValue);
            });
        });

        function travaDelete(id) {
            $('#mdlNotificaDelete').html('');
            let mensagem = "Cuidado você esta prestes à deletar um proprietário! Tem certeza que deseja continuar?";
            console.log('@Url.Action("RenderizarMensagemTrava","Notifica")');
            let url = '@Url.Action("RenderizarMensagemTrava","Notifica")' + "?action=" + encodeURI("Deletar") + "&controller=" + encodeURI("Proprietario") + "&titulo=" + encodeURI("Cuidado!") + "&mensagem=" + encodeURI(mensagem) + "&trava=" + encodeURI(true) + "&modelId=" + encodeURI(id);
            $('#mdlNotificaDelete').load(url.replace(/amp%3B/g, ""));
            $('#mdlNotificaDelete').modal({ backdrop: 'static', keyboard: true }).show();
        }

        function AbrirModalImagens(id) {
            fetch('@Url.Action("ExibirImagensVeiculo","Imagem")', {
                method: 'GET',
                headers: {
                    accept: 'text/html'
                },
            }).then(function(response) {
                response.text()
                    .then(function(html) {
                        $("#mdlImagens").html(html);
                        CarregarCaminhosImagens(id)
                    })
                    .catch(function(e) {
                        return false;
                    });
            });
        }

        function CarregarCaminhosImagens(teste) {
            fetch('@Url.Action("ObterCaminhosImagensPorIdOperacao","Imagem")' + '?idOperacao=' + parseInt(teste), {
                method: 'GET',
                headers: {
                    accept: 'application/json'
                },
            }).then(function(response) {
                response.json()
                    .then(function(json) {
                        let html = '';

                        for (let i = 0; i < json.length; i++) {
                            html += '<img class="img-fluid card-img" src="' + json[i] + '" width="30" height="40" /> <hr />';
                        }

                        $("#containner-imgs").html(html);
                        $("#mdlImagens").find('.modal').modal('show');
                        $(".modal-backdrop").remove();
                    }).catch(function(message) {
                        ModalMensagem('Falha', message, null, false);
                    });
            });
        }

        function ExportarImagensPDF(idOperacao) {
            fetch('@Url.Action("DownloadImagensPorIdOperacao","Imagem")' + '?idOperacao=' + parseInt(idOperacao), {
                method: 'GET',
                headers: {
                    accept: 'application/pdf'
                },
            }).then(function(response) {
                if (response.status == 400) {
                    response.text().then(function(responseTxt) {
                        debugger;
                        ModalMensagem('Falha', responseTxt, null, false);
                    });
                } else {
                    response.arrayBuffer()
                        .then(function(buffer) {
                            var a = document.createElement("a");
                            var bynaryData = [];
                            bynaryData.push(buffer);
                            a.href = window.URL.createObjectURL(new Blob(bynaryData, { type: "application/pdf" }));
                            a.download = `imagens-op${idOperacao}`;
                            a.click();
                        }).catch(function(errorMessage) {
                            ModalMensagem('Falha', errorMessage, null, false);
                        });
                }
            });
        }
    </script>

}