@model PTC.Domain.Entities.Marca

<div class="modal-content margin-modais">
    <div class="modal-header">
        <div class="row">
            <div class="col-12" style="text-align:start">
                <h3>
                    <img id="imgLogo" src="@Model.UrlImagem" alt="logo" />
                    @Model.Nome
                </h3>
                <sub>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Cadastro: @Model.Cadastro
                </sub>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="AlterarMarca" action="@Url.Action("Alterar","Marcas")" method="post">
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="row" style="padding-bottom:20px">
                    <div class="col-4">
                        <label for="Nome">Nome</label>
                        <input id="Nome" type="text" name="Nome" value="@Model.Nome" class="form-control" required />
                    </div>
                    <div class="col-4">
                        <label for="UrlImagem">Url</label>
                        <input id="imgUrl" type="url" name="UrlImagem" value="@Model.UrlImagem" class="form-control" />
                    </div>
                    @*<div class="col-4">
                        <label for="Situacao">Situacao</label>
                        <select name="Situacao" id="Situacao" class="form-control" style="text-align:center">
                            <option value="none">-- Selecione --</option>

                            @foreach (EnumSituacao obj in Enum.GetValues(typeof(EnumSituacao)))
                            {
                                if (!obj.Equals(EnumSituacao.Todos) && !obj.Equals(EnumSituacao.Vendido))
                                {
                                    <option value="@obj">@obj.ToString()</option>
                                }
                            }
                        </select>
                    </div>*@
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 div-btn-end" style="padding-top: 15px;">
                    <a class="btn btn-danger" href="@Url.Action("Index","Marcas")">Cancelar</a>
                    &nbsp;|&nbsp;
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {

    <script>
        $(document).ready(function () {
            $("#imgUrl").on('chamge', function () {
                $("#imgLogo").attr($(this).val());
            });
        });
    </script>

}